.btn {
  border: 0;
  background-color: transparent;
  padding: 4px 16px 4px 0;
  // text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: var(--icon-Sidebar-color);
  cursor: pointer;

  &::before {
    content: '';
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--heading);
    margin-right: 8px;
  }
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: var(--heading);
    position: absolute;
    top: 9px;
    left: 5px;
    transform: scale(0);
    opacity: 0;
    transition: all 360ms ease-in-out;
  }
  &__active {
    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__wrapper {
    margin-bottom: 4px;
  }
}