@use '../../styles/media-query' as *;

.hero {
  background: var(--header-bg);
  padding: calc(clamp(32px, 5vw, 56px) + 20px) 0 clamp(56px, 6vw, 100px);
  @include respond(phone) {
    padding-top: calc(clamp(32px, 5vw, 56px) + 80px);
  }
  &__content {
    text-align: center;
    width: clamp(300px, 90%, 800px);
    margin: auto;
    @include respond(tabport) {
      width: 100%;
      padding: 12px;
    }
    .subhead {
      font-size: 12px;
      display: inline-block;
      font-weight: 400;
      border: 1px solid rgba(#000, 0.5);
      border-radius: 4px;
      padding: 4px 12px;
      margin-bottom: 16px;
    }
    .head {
      font-size: 42px;
      line-height: 1.25;
      text-transform: capitalize;
      color: var(--heading);

      @include respond(tabport) {
        font-size: 36px;
      }
      @include respond(phone-sm) {
        font-size: 32px;
      }
    }
    .desc {
      font-size: 22px;
      line-height: 1.35;
      margin-top: 16px;
      letter-spacing: 0.01em;
      // opacity: 0.6;
      color: var(--content);
      @include respond(tabport) {
        font-size: 20px;
      }
      @include respond(phone) {
        font-size: 18px;
      }
      @include respond(phone-sm) {
        font-size: 16px;
      }
    }
    .btnset {
      margin-top: 25px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
    }
    .btn {
      display: block;
      min-width: 156px;
      padding: 12px 32px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      background-color: var(--primary);
      transition: all 350ms ease-in-out;
      @include respond(phone) {
        font-size: 17px;
        padding: 12px 25px;
      }
      @include respond(phone-sm) {
        padding: 12px 20px;
        font-size: 16px;
        min-width: initial;
      }
      &:hover {
        background-color: darken(#47be7d, 10);
      }
      &:last-of-type {
        background-color: var(--heading);
        &:hover {
          background-color: darken(#191c32, 10);
        }
      }
    }
  }
}