::selection {
  color: #fff;
  background-color: #47be7da4
}

a {
  color: var(--primary);
  font-size: 16px;
}

.container {
  width: clamp(300px, 95%, 1360px);
  margin: auto;
  &-sm {
    width: clamp(300px, 95%, 720px);
    margin: auto;
  }
}

.page-content {
  margin: clamp(32px, 4vw, 65px) auto;
  h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 16px;
  }
  p {
    font-size: 18px;
    line-height: 1.75;
  }
}

.form-group {
  display: block;
  margin-bottom: 16px;
  .form {
    &-title {
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 4px;
      margin-top: 16px;
      color: var(--heading, #333);
      opacity: 0.75;
      margin-bottom: 8px;
    }
  }
}
