* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Proza Libre', sans-serif;
  background-color: var(--body-bg);
  ::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b8b8b880;
    border-radius: 99px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
a {
  // transition: all 300ms ease-in-out;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
      outline: 0px;
  }
}
button {
  &:hover,
  &:focus {
      outline: 0px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: inherit;
}
figure {
  margin: 0;
}
section {
  display: block;
  position: relative;
  padding: 25px 0;
  width: 100%;
}

.main {
  overflow: hidden;
}
