:root {
  // fonts
  --proza: 'Proza Libre', sans-serif;
  --mono: 'JetBrains Mono', monospace;
  --montserrat: 'Montserrat', sans-serif;

  --primary: #47be7d;
  --header-bg: #fff;
  --header-sticky-bg: #47be7d;
  --body-bg: #F8F9FB;
  --heading: #3f4254;
  // --heading2: #47be7d;
  --content: #8491A5;
  --link: #3f3f3f;
  --code-bg: #f2f5f9;
  // icons
  --icon-width: 100px;
  --icon-size: 32px;
  --icon-color: #09244B;
  --icon-title-color: var(--content);
  --icon-bg: #fff;
  --icon-bg-hover: #47be7d;
  --icon-border: transparent;
  --icon-border-hover: var(--primary);
  --icon-border-radius: 4px;
  --icon-sidebar-width: 360px;
  --icon-Sidebar-height: 0;
  --icon-Sidebar-bg: #fff;
  --icon-Sidebar-offset: rgba(40, 50, 98, 0.4);
  --icon-Sidebar-box-shaddow: none;
}

// .icon_icon__W6B1y:hover {
//   background-color: #953de608;
//   border-color: #953de64d;
// }