:root {
  --primary: #953de6;
  --header-bg: #e2dbf8;
  --header-sticky-bg: #d3caf1;
  --body-bg: #f5f7fc;
  --icon-width: 100px;
  --icon-size: 32px;
  --icon-color: #574c61;
  --icon-title-color: #878787;
  --icon-bg: #fff;
  --icon-bg-hover: #953de608;
  --icon-border: transparent;
  --icon-border-hover: #953de64d;
  --icon-border-radius: 4px;
  --icon-sidebar-width: 360px;
  --icon-Sidebar-height: 0;
  --icon-Sidebar-bg: #fff;
  --icon-Sidebar-offset: rgba(40, 50, 98, 0.4);
  --icon-Sidebar-box-shaddow: none;
  --heading: #574c61;
  --content: #555;
  --link: #3f3f3f
}

// .icon_icon__W6B1y:hover {
//   background-color: #953de608;
//   border-color: #953de64d;
// }