@use '../../styles/media-query' as *;

.cta {
  // max-width: 1024px;
  margin: clamp(32px, 2.5vw, 50px) auto;
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: stretch;
    padding: clamp(32px, 2.5vw, 50px);
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(#000, 0.1);
    margin: 16px;
    @include respond(phone) {
      padding: 32px 20px;
    }

    @include respond(tabport) {
      flex-direction: column;
      align-items: flex-start;
    }
    // @include respond(phone) {
    //   padding-bottom: 50px;
    // }
  }
  &__content {
    flex: 1;
    max-width: 480px;
  }
  &__subhead {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: var(--primary);
  }
  &__head {
    font-size: 2em;
    @include respond(phone) {
      font-size: 1.5em;
    }
  }
  &__desc {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 12px;
    &::first-letter {
      text-transform: capitalize;
    }
    @include respond(phone) {
      font-size: 16px;
    }
  }
  &__btns {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  &__btn {
    padding: 12px 36px;
    display: block;
    background-color: var(--primary);
    color: #fff;
    border-radius: 8px;
    transition: all 350ms ease-in-out;
    @include respond(phone) {
      padding: 10px 20px;
      font-size: 15px;
    }
    &:hover {
      background-color: darken(#953de6, 10);
    }
  }

  &__image {
    width: 40%;
    border-radius: 8px;
    border: 1px solid var(--primary);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    @include respond(tabport) {
      width: 100%;
    }  
  }
}

.randomIconGrid {
  width: 100%;
  height: 225px;
  list-style: none;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  font-size: 25px;
  @include respond(medium) {
    height: 225px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  @include respond(tabland) {
    height: 260px;
    grid-template-columns: repeat(6, 1fr);
  }
  @include respond(tabport) {
    grid-template-columns: repeat(8, 1fr);
  }  
  @include respond(phone) {
    grid-template-columns: repeat(6, 1fr);
  }  
  &__item {
    aspect-ratio: 1/1;
    transform: scale(0.8);
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    opacity: 0.2;
    &__selected {
      // border-color: red;
      opacity: 0.8;
      animation: zoomIn alternate infinite 1000ms forwards ease-in-out;
    }
  }
}

@keyframes zoomIn {
  to {
    transform: scale(1.1);
  }
}