@use '../../styles/media-query' as *;

// Docs
.docs {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  &__inner {
    flex: 1;
  }
  &__outline {
    width: clamp(150px, 15vw, 360px);
    position: sticky;
    top: 80px;
    @include respond(phone) {
      top: 130px;
    }
    @include respond(phone-sm) {
      display: none;
    }
  }
}