@use '../../styles/media-query' as *;

// Docs
.docs {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  &__inner {
    flex: 1;
    max-width: 950px;
  }
  &__outline {
    width: clamp(150px, 15vw, 360px);
    position: sticky;
    top: 80px;
    ul {
      list-style: none;
      line-height: 1.75;
    }
    @include respond(phone) {
      top: 130px;
    }
    @include respond(phone-sm) {
      display: none;
    }
  }
}