.code {
  background-color: var(--code-bg);
  font-size: 14px;
  font-weight: 100;
  font-family: var(--mono);
  line-height: 1.5;
  tab-size: 2;
  color: var(--content);
  padding: 8px;
  margin: 0.5em 0px;
  border-radius: 4px;
  transition: all 360ms ease-in-out;
  &:hover {
    background-color: var(--code-bg-hover);
  }
  &__content {
    white-space: break-spaces;
    word-break: break-all;
  }
  &__copy {
    padding-top: 8px;
    text-align: end;
    &__btn {
      width: 32px;
      height: 32px;
      background-color: #fff;
      color: var(--primary);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: var(--header-sticky-bg);
        color: #fff;
      }
    }
  }
  &__copied {
    background-color: #27a927;
    color: #fff;
    transform: scale(1.2);
    &:hover {
      background-color: #27a927;
      color: #fff;
    }
  }
}
