@use '../../styles/media-query' as *;

.grid {
  display: grid;
  // margin: 0 12px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-width, 100px), 1fr));
  gap: 16px;
  transition: all 500ms ease-in-out;
  @include respond(phone) {
    --icon-width: 90px;
  }
  @include respond(phone-mid) {
    --icon-width: 80px;
  }
}

.title {
  grid-column: -1/1;
  text-transform: capitalize;
  color: var(--heading);
}